<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EnSjzMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.example.demo.entity.EnSjz">
		<id column="id" property="id" />
		<result column="seller_id" property="sellerId" />
		<result column="launch_date" property="launchDate" />
		<result column="remark" property="remark" />
		<result column="address" property="address" />
		<result column="floor" property="floor" />
		<result column="year" property="year" />
		<result column="style" property="style" />
		<result column="size" property="size" />
		<result column="face" property="face" />
		<result column="price" property="price" />
		<result column="has_been_sold" property="hasBeenSold" />
		<result column="delete_flag" property="deleteFlag" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, seller_id AS sellerId, launch_date AS launchDate, remark, address, floor, year, style, size, face, price, has_been_sold AS hasBeenSold, delete_flag AS deleteFlag
    </sql>

	<select id="select" resultType="com.example.demo.entity.EnSjz" parameterType="com.example.demo.entity.EnSjz">
		SELECT 
		<include refid="Base_Column_List"></include>
		FROM
		en_sjz
		<where>
			<if test="id!=null and id!=''">
				id = #{id}
			</if>
			<if test="sellerId!=null and sellerId!=''">
				AND seller_id = #{sellerId}
			</if>
			<if test="launchDate!=null and launchDate!=''">
				AND launch_date = #{launchDate}
			</if>
			<if test="remark!=null and remark!=''">
				AND remark = #{remark}
			</if>
			<if test="address!=null and address!=''">
				AND address = #{address}
			</if>
			<if test="floor!=null and floor!=''">
				AND floor = #{floor}
			</if>
			<if test="year!=null and year!=''">
				AND year = #{year}
			</if>
			<if test="style!=null and style!=''">
				AND style = #{style}
			</if>
			<if test="size!=null and size!=''">
				AND size = #{size}
			</if>
			<if test="face!=null and face!=''">
				AND face = #{face}
			</if>
			<if test="price!=null and price!=''">
				AND price = #{price}
			</if>
			<if test="hasBeenSold!=null and hasBeenSold!=''">
				AND has_been_sold = #{hasBeenSold}
			</if>
			<if test="deleteFlag!=null and deleteFlag!=''">
				AND delete_flag = #{deleteFlag}
			</if>
		</where>
	</select>

</mapper>
