<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FriendsMapper">

    <sql id="Base_Column_List">
        user1,user2
    </sql>

    <select id="selectByUser" resultType="com.example.demo.entity.Friends" parameterType="com.example.demo.entity.Friends">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        friends
        <where>
            <if test="name!=null and name!=''">
                user1 = #{name} OR user2 = #{name}
            </if>
        </where>
    </select>

</mapper>